.Reviews {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  li {
    display: block;
    width: 100%;
    background: #2b2b2b;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    p {
      margin-top: 10px;
      opacity: 0.7;
    }
  }
}
