.Footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;
  background: #eee;
  color: #2b2b2b;
  .FooterContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
