.BreadCrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
  li {
    position: relative;
    &:after {
      content: '/';
      display: inline-block;
      position: absolute;
      left: 100%;
      transform: translate(8px, 0px);
      color: #2b2b2b;
    }
    &:last-child {
      a {
        opacity: 0.5;
        pointer-events: none;
      }
      &:after {
        content: none;
      }
    }
    a {
      color: #2b2b2b;
      font-size: 12px;
    }
  }
}
